body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.cell {
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.cell:focus {
    outline: none;
    border-color: #66afe9;
    background-color: #e6f7ff;
}

#nextBtn, #nextBtn2, #nextBtn3 {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nextBtn:hover, #nextBtn2:hover, #nextBtn3:hover {
    background-color: #45a049;
}

#free-points {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

.cell.hidden {
    background-color: #f0f0f0;
    opacity: 0.5;
}

#intro-message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Скрытие контейнеров выбора класса и расы */
.hidden-container {
    display: none;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

.form-group {
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
    margin-bottom: 15px;
}

.stat-label {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin-right: 10px; /* Отступ справа от текста */
}

.stat-input {
    width: 50px; /* Ширина поля ввода */
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.stat-input:focus {
    outline: none;
    border-color: #66afe9;
    background-color: #e6f7ff;
}

label {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

select:focus, input[type="number"]:focus {
    outline: none;
    border-color: #66afe9;
    background-color: #e6f7ff;
}

.text-danger {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}
